<h1 mat-dialog-title>Favorites</h1>
<div mat-dialog-content>
  <div class="filter">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Deal name</mat-label>
          <input matInput [(ngModel)]="filter.name" placeholder="Deal name" type="text" name="test">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Deal type</mat-label>
          <mat-select [(ngModel)]="filter.type" placeholder="Nombre" name="type">
            <mat-option *ngFor="let dealType of dealTypes" [value]="dealType">{{dealType}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <button mat-raised-button color="primary" type="button" (click)="searchFilter(filter)">Search</button>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Deal name</th>
        <th>Address</th>
        <th>Deal type</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.name}}</td>
        <td>{{item.address}}</td>
        <td>{{item.type}}</td>
        <td>{{item.dueDate}}</td>
        <td align="center"><button mat-raised-button color="accent" (click)="deleteFavorites(item)">Delete Favorite</button></td>
      </tr>
    </tbody>
  </table>
  <p class="no-results" *ngIf="data.length === 0">You have no favorites on the list</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Close</button>
</div>