<div class="navbar">
  <div class="container">
    <h4 class="logo">Deals Manager</h4>
    <nav class="nav">
      <!-- <button [routerLink]="['/']">Home</button> -->
      <button mat-raised-button color="accent" (click)="showModalFavorites()">Favorites</button>
    </nav>
  </div>
</div>