/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .navbar {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;
    .container {
      display: flex;
      justify-content: space-between;
      .logo {
        font-size: 20px;
        font-weight: normal;
        margin: 0;
      }
    }
    .nav {
      button {

      }
    }
  }
  .filter {
    margin-bottom: 2rem;
    .col-md-2 {
      flex: 0 0 20%;
      max-width: 20%;
      .mat-form-field {
        width: 100%;
      }
    }
    .search {
      display: flex;
      justify-content: center;
    }
  }
  .result {
    .order-filter {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
      button {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .table {
    width: 100%;
    th {
      vertical-align: bottom;
      padding: .75rem;
      border-top: 1px solid #dee2e6;
      border-bottom: 2px solid #dee2e6;
    }
    td {
      padding: .75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
  }
  .mat-dialog-container {
    overflow: hidden;
    .mat-form-field {
      width: 100%;
    }
    .no-results {
      padding: 1rem;
    }
  }
  .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
  }
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}
