<div class="filter">
  <div class="row">
    <div class="col-md-2">
      <mat-form-field appearance="outline">
        <mat-label>Deal name</mat-label>
        <input matInput [(ngModel)]="filter.name" placeholder="Deal name" type="text" name="test">
      </mat-form-field>
    </div>
    <div class="col-md-2 col-half-offset">
      <mat-form-field appearance="outline">
        <mat-label>Adress</mat-label>
        <input matInput [(ngModel)]="filter.address" placeholder="Adress" type="text" name="address">
      </mat-form-field>
    </div>
    <div class="col-md-2 col-half-offset">
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput [(ngModel)]="filter.price" placeholder="Deal name" type="text" name="price">
      </mat-form-field>
    </div>
    <div class="col-md-2 col-half-offset">
      <mat-form-field appearance="outline">
        <mat-label>Deal type</mat-label>
        <mat-select [(ngModel)]="filter.type" placeholder="Nombre" name="type">
          <mat-option *ngFor="let dealType of dealTypes" [value]="dealType">{{dealType}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-2 col-half-offset">
      <mat-form-field appearance="outline">
        <mat-label>Due date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="filter.dueDate" placeholder="Due date" (click)="picker.open()" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="search">
    <button mat-raised-button color="primary" type="button" (click)="searchFilter(filter)">Search</button>
  </div>
</div>

<div class="result">
  <div *ngIf="result.length === 0" class="alert alert-danger">
    Sorry, there are no results
  </div>
  <div *ngIf="result.length !== 0" class="order-filter">
    <button *ngIf="orderPriceToggle" mat-raised-button color="primary" type="button" (click)="sortPrice()">Order price ASC</button>
    <button *ngIf="!orderPriceToggle" mat-raised-button color="primary" type="button" (click)="sortPrice()">Order price DESC</button>
    <button *ngIf="orderTypeToggle" mat-raised-button color="primary" type="button" (click)="sortType()">Order type ASC</button>
    <button *ngIf="!orderTypeToggle" mat-raised-button color="primary" type="button" (click)="sortType()">Order type DESC</button>
    <button *ngIf="orderDateToggle" mat-raised-button color="primary" type="button" (click)="sortDate()">Order date ASC</button>
    <button *ngIf="!orderDateToggle" mat-raised-button color="primary" type="button" (click)="sortDate()">Order date DESC</button>
  </div>
  <table *ngIf="result.length !== 0" class="table">
    <thead>
      <tr>
        <th>Deal name</th>
        <th>Address</th>
        <th>Price</th>
        <th>Deal type</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of result">
        <td>{{data.name}}</td>
        <td>{{data.address}}</td>
        <td>{{data.price}}</td>
        <td>{{data.type}}</td>
        <td>{{data.dueDate}}</td>
        <td><button mat-raised-button color="accent" (click)="addFavorites(data)">Add Favorite</button></td>
      </tr>
    </tbody>
  </table>
</div>

